<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SteamGamesApp"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity android:name=".ActionGames"></activity>
        <activity android:name=".BoomerGames"></activity>
        <activity android:name=".RacingGames"></activity>
        <activity android:name=".PlatformerGames"></activity>
        <activity android:name=".apexlegends"></activity>
        <activity android:name=".cultic"></activity>
        <activity android:name=".Cuphead"></activity>
        <activity android:name=".DeadCells"></activity>
        <activity android:name=".Destiny"></activity>
        <activity android:name="Doom"></activity>
        <activity android:name=".DoomEternal"></activity>
        <activity android:name="Dota"></activity>
        <activity android:name=".Forizon"></activity>
        <activity android:name=".GrandTheft"></activity>
        <activity android:name=".HatInTime"></activity>
        <activity android:name=".PUBG"></activity>
        <activity android:name=".SnowRunner"></activity>
        <activity android:name=".RainWorld"></activity>
        <activity android:name=".TruckSimulator"></activity>
        <activity android:name=".UltraKill"></activity>
        <activity android:name=".WishList"></activity>
        <activity android:name=".Buying"></activity>
        <activity android:name=".Settings"></activity>
        <activity android:name=".Games"></activity>
    </application>

</manifest>